@import "tailwindcss";

@theme {
  --color-primary: #00a63e;
  --color-secondary: #a1a4dd;
  --color-background: #222222;
}

@font-face {
  font-family: Silkscreen;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Silkscreen-Regular.ttf") format("truetype");
}
